Jackpot.xcodeproj/project.xcworkspace/xcshareddata/
Jackpot.xcodeproj/project.xcworkspace/xcuserdata/
Jackpot.xcodeproj/xcuserdata/conglv.xcuserdatad/
Jackpot.xcodeproj/project.xcworkspace/xcshareddata/Jackpot.xccheckout